.navbarLeft, a {
  padding-left: 15px;
}

.navbarRight, ul {
  padding-right: 15px;
}

.carouselTextCenter {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}

.social-icons, ul, li {
  display: inline-block;
  text-decoration: none;
}

.advantagesBoxes{
    margin: 10px;
    padding: 10px;
    border: 5px;
    border-style: solid;
}
*{
margin:0;
padding:0;
}


html {
    position: relative;
    min-height: 100%;
    min-width: 100%;
}
body {
    margin: 0 0 100px;
}


footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 80px;
    width: 100%;
}

.bg-light {
    background-color: #eeeeee!important;
}

.containerFullWidth{
  padding-right: 0;
  padding-left: 0;
}


/* CONTACT.PHP */ 

.boxContactUs{
  height: 145px;
}

.titlesConctactUs{
  bottom: 50px;
}

.topSection {
 margin-top: 250px;
}

#contact {
  background-image: url(../img/contact.jpg);
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
}
